img{
	display:block;
	margin:auto;
	clear:both;
	width:700px;
	border-radius: 25px;
	box-shadow: 5px 5px 5px #888888;
}

.current{
	background-color:yellow;
}

.crossed-out{
   text-decoration: line-through;
}

#scroll{
	text-decoration: none;
	color: #320610;
}

li {
	margin-left:-40px;
}

#instr-anchor{
	color:red;
}

#buttons{
	position: absolute;
    left: 63%;
    top: 15%;
}

button {
    text-align: center;
    color: #320610;
    margin-left:10px;
    width: 210px;
    background: #F1EBE4;
    padding: 8px 20px;
    font: 700 24px/1 titleFont, sans-serif;
    boder:none;
    -webkit-transition: color 0.5s, border-color 0.5s ease-out;
	-moz-transition: color 0.5s, border-color 0.5s ease-out;
	-ms-transition: color 0.5s, border-color 0.5s ease-out;
	-o-transition: color 0.5s, border-color 0.5s ease-out;
	transition: color 0.5s, border-color 0.5s ease-out;
}

button:hover {
    color: C6A9A9;
    border-color:C6A9A9;
}


section{
	display: block;
	margin:auto;
}

h1, h3{
	text-align:-webkit-center;
}

#main-container{
	background-color:C6A9A9;
	max-width: 750px;
    padding: 20px 40px 40px 40px;
    top: 70px;
    margin: auto;
    margin-top: -30px;
}

body{
	display: block;
	margin:auto;
	padding-top: 100px;
	background-color: DFE0DC;
	font-family: 'Josefin Slab', serif;
}

#main{
	max-width: 750px;
	margin: auto;
}


#side {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #351431;
    top: 0px;
    z-index: 1;
    box-shadow: rgb(136, 136, 136) 0px 5px 5px;
}

div{
	display:block;
}

#twitter {
    color: rgb(0, 172, 237);
}

#pinterest {
    color: rgb(203, 32, 39);
}

#facebook{
	color: rgb(59, 89, 152);
}

.social-icon {
    background-color:DFE0DC;
    width: 50px;
    height: 50px;
    text-align: center;
	border-radius: 50px;
	float:left;
	margin-left:20px;
	margin-top: 10px;
}

.social-link {
    display:inline-block;
    width:100%;
    height:100%;
}

i {
    margin: 10px; 
}

#social-container {
    position: absolute;
    font-size: 30px;
    width: 250px;
}

a:hover{
	font-size:35px;
	margin-top: -2px;
	margin:-2px;
}

section{
	font-size:17px;
}