img{
	display:block;
	margin:auto;
	clear:both;
	width:700px;
	border-radius: 25px;
	box-shadow: 5px 5px 5px #888888;
}

.crossed-out{
 text-decoration: line-through;  
}

li {
margin-left:-40px;
}

button {
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 1px 0px;
    position: absolute;
    left: 83%;
    top: 15%;
    width: 200px;
    background: linear-gradient(rgb(116, 114, 116), rgb(7, 55, 99));
    border-radius: 5px;
    padding: 8px 20px;
    font: 700 24px/1 titleFont, sans-serif;
}
section{
	display: block;
	margin:auto;
}


h1, h3{
	text-align:-webkit-center;
}

body{
	display: block;
	margin:auto;
}
#main{
	max-width: 750px;
	margin: auto;
}
#social-container {
    position: absolute;
    left: 15px;
    font-size: 35px;
    margin-bottom: 10px;
}

#side {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(78, 81, 102);
    top: 0px;
    z-index: 1;
    box-shadow: rgb(136, 136, 136) 0px 5px 5px;
}

i {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    padding-left: 0px;
    margin: 9px;
    background: whitesmoke;
    border-radius: 50px;
}

div{
	display:block;
}

#twitter {
    color: rgb(0, 172, 237);
}

#pinterest {
    color: rgb(203, 32, 39);
}

#facebook {
    color: rgb(59, 89, 152);
}
